<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body style="font-family: helvetica; margin: 0; padding: 0; background-color: #f7f5f1;">
<table cellspacing="0" style="width: 500px; margin: 30px auto;">
    <tr>
        <td>
            <table style="width: 100%; background-color: #000;" cellspacing="5">
                <tr>
                    <td width="350px" style="padding: 0 23px; color: #fff; font-size: 15px; font-weight: 700">Ganti Password Berhasil</td>
                    <td width="80px" style="font-size: 12px; color: #fff; text-align: right;padding: 12px 23px">09/11/2018</td>
                </tr>
            </table>
            <table style="background-color: #fff; width: 100%;"  cellspacing="30">
                <tr>
                    <td width="100%"><a th:href="${public_web}" target="_blank"><img th:src="${logo}" style="width: 165px;  padding: 10px 0"/></a></td>
                </tr>
            </table>
            <table style="width: 100%; background-color: #f9f9f9;" cellspacing="30">
                <tr>
                    <td style="font-size: 20px; font-weight: 700; color: #585b74">
                        Ganti Password Berhasil
                    </td>
                </tr>
                <tr>
                    <td width="100%" style="padding: 10px 0; font-size: 17px; line-height: 25px; color: #616374;">
                        Perubahan password anda telah berhasil, silahkan login kembali dengan menekan tombol dibawah ini.
                    </td>
                </tr>
                <tr>
                    <td>
                        <a th:href=${link} style="width: 110px; font-weight: 700; font-size: 15px; padding: 12px 30px; background-color: #FF8291; border-radius: 100px; text-align: center; color: #fff; text-decoration: none;">
                            Login
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="color: #abadba; font-size: 13px; padding-top: 10px;">Atau copy paste link dibawah ini dibrowser anda</td>
                </tr>
                <tr>
                    <td style="color: #E59877; font-size: 15px;">
                        <p style="text-align: justify">
                            <span th:text="${link}"></span>
                        </p>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; border-collapse: collapse; background-color: #ffffff;">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <table style="width: 100%;background-color: #ffffff;" cellspacing="30">
                <tr>
                    <td width="60px;">
                        <a href="#" style="font-size: 12px; color: #71748b; font-weight: 700; text-decoration: none">Tentang Kami</a>
                    </td>
                    <td width="60px;">
                        <a href="#" style="font-size: 12px; color: #71748b; font-weight: 700; text-decoration: none">Kontak Kami</a>
                    </td>
                    <td width="140px;">
                        <a href="#" style="font-size: 12px; color: #71748b; font-weight: 700; text-decoration: none">FAQS</a>
                    </td>
                </tr>
            </table>
            <table style="width: 100%; background-color: #ffffff;" cellspacing="0">
                <tr>
                    <td style="padding:0 30px 30px; font-size: 11px; color: #C1C1C1;">Copyright &copy; 2018 <span th:text="${public_web}"/>, All Rights Reserved</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>