@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



/*INVOICE PRINT*/
.print-container{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-top: -50px;
    padding-top: 50px;
}
.invoice-wrap{
    position: relative;
    width: 1000px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}
.invoice-wrap .row{
    margin: 0;
}
.invoice-wrap .header{
    position: relative;
}
.invoice-wrap .header .logo{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
.invoice-id-wrap{
    position: absolute;
    top: 22px;
    right: 0;
    font-weight: 700;
}
.invoice-wrap .invoice-id-wrap .invoice-id, .invoice-wrap .invoice-id-wrap .separator, .invoice-wrap .invoice-id-wrap .invoice-date{
    display: inline-block;
    font-size: 18px;
}
.invoice-wrap .invoice-id-wrap .separator{
    line-height: 0;
    font-size: 24px;
    padding: 0 18px;
}
.invoice-wrap table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.invoice-wrap tr:last-child td{
    padding-bottom: 20px;
    border-bottom: 1px solid #D8D8D8;
}
.invoice-wrap  th{
    font-size: 13px;
    color: #999898;
    font-weight: normal;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 23px;
}
.invoice-wrap  td{
    font-size: 15px;
    color: #5B5B5B;
    line-height: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.invoice-wrap  tr.firstlist td{
    padding-top: 20px;
}
.invoice-wrap .type{
    font-size: 13px;
    color: #999898;
}
.invoice-wrap .row{
    position: relative;
}
.invoice-wrap .row:before{
    content: "";
    box-sizing: border-box;
    display: table;
}
.invoice-wrap .row:after{
    content: "";
    display: table;
    clear: both;
}
.invoice-wrap .col-50{
    position: relative;
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.invoice-wrap .label{
    font-size: 13px;
    color: #999898;
    font-weight: normal
}
.invoice-wrap .address{
    font-size: 16px;
    line-height: 28px;
}
.invoice-wrap .address .title-addres{
    font-weight: 700;
    color: #000;
}
.invoice-wrap .address .detail-addres{
    color: #5B5B5B;
    margin-bottom: 20px;
}
.invoice-wrap .total-payment{
    text-align: right;
    padding-left: 95px;
}
.invoice-wrap .total-payment .label{
    padding-bottom: 30px;
}
.total-payment .total{
    color: #5B5B5B;
    font-size: 15px;
    padding-bottom: 27px;
}
.invoice-wrap .total-payment .total.price-all{
    font-size: 17px;
}
.print-container .cut-separator{
    position: relative;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #DBDADA;
    margin-top: 30px;
    margin-bottom: 30px;
}
.print-container .cut-separator:after{
    position: absolute;
    bottom: -25px;
    right: 45px;
    color: #d1d1d1;
    font-size: 12px;
    content: "Potong disini";
}
.print-container .cut-separator:before{
    content:"";
    position: absolute;
    right: 0;
    top: -18px;
    width: 46px;
    height: 40px;
    background-color: #fff;
    /*background-image: url(img/invoice/cut.png);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px;
}
.print-container .shipping .jne, .print-container .shipping .tiki, .print-container .shipping .pos{
    float: left!important;;
    background-repeat: no-repeat!important;;
    background-size: 100%!important;;
}
.print-container .shipping .jne{
    width: 60px!important;;
    height: 18px!important;;
    /*background-image: url(img/kurir/jne.png)!important;;*/
}
.print-container .shipping .tiki{
    width: 55px;
    height: 18px;
    /*background-image: url(img/kurir/tiki.png);*/
}
.print-container .shipping .pos{
    width: 70px;
    height: 22px;
    /*background-image: url(img/kurir/pos.png);*/
}
.print-container .shipping-provider{
    float: left;
    padding-left: 10px;
    font-size: 13px;
    line-height: 16px;
}
.print-container .shipping-label{
    width: 100%;
    position: relative;
    display: inline-block;
}
.print-container .shipping-label-container{
    position: relative;
    width: 580px;
    box-sizing: border-box;
    padding: 30px;
    margin: 20px auto;
    border: 1px solid #979797;
    border-radius: 20px;
}
.print-container .shipping-label .invoice-id-wrap{
    right: 30px;
    top: 31px;
}
.print-container .receiver{
    margin: 35px 0;
}
.print-container .receiver:before{
    content: "";
    display: table;
}
.print-container .receiver:after{
    content: "";
    display: table;
    clear: both;
}
.print-container .receiver .address{
    font-size: 14px;
    line-height: 22px;
}
.print-container .receiver .label{
    margin-bottom: 5px;
}
.print-container .note{
    font-size: 13px;
    color: #9D9D9D;
}