*{
    margin: 0;
    padding: 0;
}
.color-box{
    position: relative;
    float: left;
    width: 33.3333333%;
    height:50px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.color-box .color-pallete{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transition: .2s;
}
.color-box .color-pallete:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.color-box .color-pallete .check{
    display: none;
}
.color-box .color-pallete.selected .check{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    margin-left: -11px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.7);
    background-image: url("../../../assets/img/widget/check.png");
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.color-box .color-pallete.green{
    background-color: green;
}
.color-box .color-pallete.red{
    background-color: #e50e2f;
}
.color-box .color-pallete.blue{
    background-color: skyblue;
}
.color-box .color-pallete.yellow{
    background-color: mistyrose;
}
.color-box .color-pallete.purple{
    background-color: mediumpurple;
}
.color-box .color-pallete.pink{
    background-color: hotpink;
}
.color-box .color-pallete.brown{
    background-color: saddlebrown;
}
