*{
    margin: 0;
    padding: 0;
}
.color-container{
    position: relative;
    width:300px;
    box-sizing:border-box;
    padding: 5px;
    margin: 0 auto;
}
.color-container:after{
    content: "";
    clear: both;
    display: table;
}
