.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}


/*INVOICE PRINT*/
.print-container{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: -50px;
  padding-top: 50px;
}
.invoice-wrap{
  position: relative;
  width: 1000px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}
/*.invoice-wrap .row{*/
/*margin: 0;*/
/*}*/
.invoice-wrap .header{
  position: relative;
}
.invoice-wrap .header .logo{
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
.invoice-id-wrap{
  position: absolute;
  top: 22px;
  right: 0;
  font-weight: 700;
}
.invoice-wrap .invoice-id-wrap .invoice-id, .invoice-wrap .invoice-id-wrap .separator, .invoice-wrap .invoice-id-wrap .invoice-date{
  display: inline-block;
  font-size: 18px;
}
.invoice-wrap .invoice-id-wrap .separator{
  line-height: 0;
  font-size: 24px;
  padding: 0 18px;
}
.invoice-wrap table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}
.invoice-wrap tr:last-child td{
  padding-bottom: 20px;
  border-bottom: 1px solid #D8D8D8;
}
.invoice-wrap  th{
  font-size: 13px;
  color: #999898;
  font-weight: normal;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 23px;
}
.invoice-wrap  td{
  font-size: 15px;
  color: #5B5B5B;
  line-height: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.invoice-wrap  tr.firstlist td{
  padding-top: 20px;
}
.invoice-wrap .type{
  font-size: 13px;
  color: #999898;
}
.invoice-wrap .row{
  position: relative;
}
.invoice-wrap .row:before{
  content: "";
  box-sizing: border-box;
  display: table;
}
.invoice-wrap .row:after{
  content: "";
  display: table;
  clear: both;
}
.invoice-wrap .col-50{
  position: relative;
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.invoice-wrap .label{
  font-size: 13px;
  color: #999898;
  font-weight: normal
}
.invoice-wrap .address{
  font-size: 16px;
  line-height: 28px;
}
.invoice-wrap .address .title-addres{
  font-weight: 700;
  color: #000;
}
.invoice-wrap .address .detail-addres{
  color: #5B5B5B;
  margin-bottom: 20px;
}
.invoice-wrap .total-payment{
  text-align: right;
  padding-left: 95px;
}
.invoice-wrap .total-payment .label{
  padding-bottom: 30px;
}
.total-payment .total{
  color: #5B5B5B;
  font-size: 15px;
  padding-bottom: 27px;
}
.invoice-wrap .total-payment .total.price-all{
  font-size: 17px;
}
.print-container .cut-separator{
  position: relative;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #DBDADA;
  margin-top: 30px;
  margin-bottom: 30px;
}
.print-container .cut-separator:after{
  position: absolute;
  bottom: -25px;
  right: 45px;
  color: #d1d1d1;
  font-size: 12px;
  content: "Potong disini";
}
.print-container .cut-separator:before{
  content:"";
  position: absolute;
  right: 0;
  top: -18px;
  width: 46px;
  height: 40px;
  background-color: #fff;
  background-image: url(img/invoice/cut.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px;
}
.print-container .shipping .jne, .print-container .shipping .tiki, .print-container .shipping .pos{
  float: left!important;;
  background-repeat: no-repeat!important;;
  background-size: 100%!important;;
}
.print-container .shipping .jne{
  width: 60px!important;;
  height: 18px!important;;
  background-image: url(img/kurir/jne.png)!important;;
}
.print-container .shipping .tiki{
  width: 55px;
  height: 18px;
  background-image: url(img/kurir/tiki.png);
}
.print-container .shipping .pos{
  width: 70px;
  height: 22px;
  background-image: url(img/kurir/pos.png);
}
.print-container .shipping-provider{
  float: left;
  padding-left: 10px;
  font-size: 13px;
  line-height: 16px;
}
.print-container .shipping-label{
  width: 100%;
  position: relative;
  display: inline-block;
}
.print-container .shipping-label-container{
  position: relative;
  width: 680px;
  box-sizing: border-box;
  padding: 30px;
  margin: 20px auto;
  border: 1px solid #979797;
  border-radius: 20px;
}
.print-container .shipping-label .invoice-id-wrap{
  right: 30px;
  top: 31px;
}
.print-container .receiver{
  margin: 20px 0;

}
.print-container .receiver:before{
  content: "";
  display: table;
}
.print-container .receiver:after{
  content: "";
  display: table;
  clear: both;
}
.print-container .receiver .address{
  font-size: 16px;
  line-height: 24px;
}
.print-container .receiver .address .detail-addres{
  margin-bottom: 20px;
}
.print-container .receiver .label{
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  }
.print-container .note{
  font-size: 13px;
  color: #9D9D9D;
}



/*SIDEBAR CSS*/
.cr-sidebar__background{
  background-image: none!important;
}
.cr-sidebar::after{
  background: #006f6d;
}
.bg-secondary{
  background-color: #006f6d!important;
}
.btn-outline-secondary{
  color: #0d1026!important;
  border-color: #0d1026!important;
}
.btn-outline-secondary:hover{
  color: #fff!important;
  background-color: #0d1026!important;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus{
  box-shadow: 0 0 0 0.2rem rgba(36, 35, 62, 0.5) !important;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle{
  background-color: #0d1026!important;
}
.btn-green{
  background:#3dc296!important;
}
.btn-primary{
  background:#5f86dd!important;
}
.btn-primary:hover{
  background: #4b69dd !important;
}
.btn-danger{
  background: #ff2f5f!important;
}
.btn-danger:hover{
  background: #e52b56 !important;
}
.card-body .bg-gradient-theme-left{
  background: #0d1026!important;
  transition: .3s;
}
.card-body .bg-gradient-theme-left:hover{
  background: #f0a180 !important;
}

/**
INPUT CHIPS CSS
*/

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput--focused {
  border-color: #a5d24a;
}

.react-tagsinput-tag {
  background-color: #ff2f5f;
  border-radius: 15px;
  border: 1px solid #fffff;
  color: #ffffff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #363636;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  /*width: 80px;*/
}

.cr-sidebar {
  width: 250px!important;
}
.cr-sidebar--open + .cr-content {
  margin: 0 0 0 250px!important;
  -webkit-transition: margin .2s ease-in;
  transition: margin .2s ease-in;
}