*{
    margin: 0;
    padding: 0;
}
.loading-container {
    position: fixed;
    display: table;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
.loading-container .loading-wrap {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.loading {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 7px 20px rgba(0,0,0,0.3);
}
.loader:before {
    content: '';
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -.7rem;
    margin-left: -.7rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 2px solid #007AFF;
    border-right: 2px solid transparent;
    border-radius: 50%;
    -webkit-animation: spin 0.6s linear infinite;
    animation: spin 0.6s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }